<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html[
        <!ENTITY nbsp "&#160;">
        <!ENTITY copy "&#169;">
        <!ENTITY bull "&#8226;">
        <!ENTITY amp "&#38;">]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>My-Aktion</title>
        <meta charset="utf-8" />
        <h:outputStylesheet name="/screen.css" />
    </h:head>
    <h:body>
        <div id="container">
            <div id="header">
                <p>Example application <strong>My-Aktion</strong> - Workshop JavaEE 7</p>
            </div>
            <div id="content">
                <ui:insert name="content">
                    [Template content will be inserted here]
                </ui:insert>
            </div>
            <div id="footer">
                <p> &copy; 2016 dpunkt.verlag GmbH &amp; shureg.de, MIT Lizenz</p>
            </div>
        </div>
    </h:body>
</html>
