<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>#{msg['donateMoney.donate_money']}</title>
    <meta charset="utf-8"/>
    <f:metadata>
        <f:viewParam id="bgColor" name="bgColor"
                     value="#{donateMoneyController.bgColor}">
            <f:validateRegex pattern="[A-Fa-f0-9]{6}"/>
        </f:viewParam>
        <f:viewParam id="textColor" name="textColor"
                     value="#{donateMoneyController.textColor}">
            <f:validateRegex pattern="[A-Fa-f0-9]{6}"/>
        </f:viewParam>
        <f:viewParam id="campaignId" name="campaignId" converter="javax.faces.Long"
                     value="#{donateMoneyController.campaignId}">
        </f:viewParam>
        <f:viewParam id="title" name="title" value="#{donateMoneyController.title}">
        </f:viewParam>
    </f:metadata>
</h:head>
<h:body style="margin:0; font-family: Verdana, sans-serif; font-size: 0.9em;
	background-color: ##{donateMoneyController.bgColor}; color: ##{donateMoneyController.textColor}">
    <h1>#{donateMoneyController.title}</h1>

    <p:messages globalOnly="true"/>
    <p:message for="bgColor" style="color: red;"/>
    <p:message for="textColor" style="color: red;"/>
    <p:message for="campaignId" style="color: red;"/>
    <p:message for="title" style="color: red;"/>
    <h:form>

        <h:panelGrid columns="3">
            <h:outputLabel value="#{msg['donateMoney.name']}:"></h:outputLabel>
            <p:inputText id="name"
                         value="#{donateMoneyController.donation.donorName}">
                <f:validateRequired/>
            </p:inputText>
            <p:message for="name" style="color: red;"/>

            <h:outputLabel value="#{msg['donateMoney.iban']}:"></h:outputLabel>
            <p:inputText id="iban"
                         value="#{donateMoneyController.donation.account.iban}">
                <f:validateRequired/>
            </p:inputText>
            <p:message for="iban" style="color: red;"/>

            <h:outputLabel value="#{msg['donateMoney.name_of_bank']}:"></h:outputLabel>
            <p:inputText id="name_bank"
                         value="#{donateMoneyController.donation.account.nameOfBank}">
                <f:validateRequired/>
            </p:inputText>
            <p:message for="name_bank" style="color: red;"/>

            <h:outputLabel value="#{msg['donateMoney.donation_amount']}:"></h:outputLabel>
            <h:panelGroup>
                <p:inputText id="donationAmount"
                             value="#{donateMoneyController.donation.amount}">
                    <f:validateRequired/>
                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2"/>
                </p:inputText> EUR
            </h:panelGroup>
            <p:message for="donationAmount" style="color: red;"/>

        </h:panelGrid>

        <p:selectBooleanCheckbox
                value="#{donateMoneyController.donation.receiptRequested}"/> #{msg['donateMoney.i_want_a_receipt']}
        <br/>

        <p:commandButton value="#{msg['donateMoney.donate']}"
                         action="#{donateMoneyController.doDonation}" ajax="false"/>
    </h:form>
</h:body>
</html>