<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"  >
<body>
    <f:view contracts="#{view.locale.language}">
        <ui:composition template="/template.xhtml">
            <ui:define name="content">
                <h1>#{msg['editDonationForm.edit_donation_form']}</h1>
                <h:form>
                    <h:panelGrid columns="2">
                        <h:outputLabel value="#{msg['editDonationForm.background_color']}"></h:outputLabel>
                        <p:colorPicker id="bgColor" value="#{editDonationFormController.formConfig.bgColor}" widgetVar="bgPicker">

                        </p:colorPicker>

                        <h:outputLabel value="#{msg['editDonationForm.text_color']}"></h:outputLabel>
                        <p:colorPicker id="textColor" value="#{editDonationFormController.formConfig.textColor}" widgetVar="textPicker">

                        </p:colorPicker>

                        <h:outputLabel value="#{msg['editDonationForm.form_title']}"></h:outputLabel>
                        <p:inputText id="title" value="#{editDonationFormController.formConfig.title}" />

                        <h:outputLabel value="#{msg['editDonationForm.form_url']}"></h:outputLabel>
                        <p:inputTextarea id="url" rows="6" cols="30" readonly="true" value="#{editDonationFormController.url}" />
                    </h:panelGrid>
                    <p:commandButton value="#{msg['editDonationForm.update_url']}" update="url" />
                    <p:commandButton value="OK" action="#{editDonationFormController.doOk}" ajax="false" />
                </h:form>
            </ui:define>
        </ui:composition>

    </f:view>
</body>
</html>
