<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <f:view contract="#{view.locale.language}">
            <ui:composition template="/template.xhtml">
                <ui:define name="content">
                    <h1>#{msg['welcome.text']}</h1>
                </ui:define>
            </ui:composition>
        </f:view>
    </body>

</html>