<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<body>
<f:view contracts="#{view.locale.language}">
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h1>#{msg['listDonations.donation_list']} '#{campaignProducer.selectedCampaign.name}'</h1>

            <h2>#{msg['listDonations.beneficiary_account']}: #{campaignProducer.selectedCampaign.account.name}, #{msg['listDonations.iban']}: #{campaignProducer.selectedCampaign.account.iban}, #{campaignProducer.selectedCampaign.account.nameOfBank}</h2>

            <h:form>
                <p:dataTable value="#{campaignProducer.selectedCampaign.donations}" var="donation">
                    <p:column>
                        <f:facet name="header">#{msg['listDonations.name']}</f:facet>
                        <h:outputText value="#{donation.donorName}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">#{msg['listDonations.iban']}</f:facet>
                        <h:outputText value="#{donation.account.iban}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">#{msg['listDonations.name_of_bank']}</f:facet>
                        <h:outputText value="#{donation.account.nameOfBank}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">#{msg['listDonations.donation_amount']}</f:facet>
                        <h:outputText value="#{donation.amount}">
                            <f:convertNumber type="currency" currencyCode="EUR"/>
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">#{msg['listDonations.receipt']}</f:facet>
                        <h:outputText
                                value="#{donation.receiptRequested ? msg['listDonations.yes'] : msg['listDonations.no']}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">#{msg['listDonations.status']}</f:facet>
                        <h:outputText value="#{msg['listDonations.status.TRANSFERRED']}"
                                      rendered="#{donation.status == 'TRANSFERRED'}"/>
                        <h:outputText value="#{msg['listDonations.status.IN_PROCESS']}"
                                      rendered="#{donation.status == 'IN_PROCESS'}"/>
                    </p:column>
                </p:dataTable>
                <p:commandButton value="OK"
                                 action="#{listDonationsController.doOk}" ajax="false"/>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</body>
</html>