<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:body>
<f:view contracts="#{view.locale.language}">
    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <h1>#{msg['listCampaigns.my_campaigns']}</h1>

            <h:form>
                <p:dataTable value="#{campaigns}" var="campaign">
                    <p:column>
                        <p:commandButton onclick="confirmation.show()"
                                         actionListener="#{listCampaignsController.doDeleteCampaign(campaign)}"
                                         icon="ui-icon-close"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">#{msg['listCampaigns.name']}</f:facet>
                        <h:outputText value="#{campaign.name}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">#{msg['listCampaigns.target_amount']}</f:facet>
                        <h:outputText value="#{campaign.targetAmount}">
                            <f:convertNumber type="currency" currencyCode="EUR"/>
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">#{msg['listCampaigns.donated_so_far']}</f:facet>
                        <h:outputText value="#{campaign.amountDonatedSoFar}">
                            <f:convertNumber type="currency" currencyCode="EUR"/>
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{msg['listCampaigns.edit']}" ajax="false"
                                       action="#{listCampaignsController.doEditCampaign(campaign)}"/>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{msg['listCampaigns.list_donations']}" ajax="false"
                                       action="#{listCampaignsController.doListDonations(campaign)}"/>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{msg['listCampaigns.form']}" ajax="false"
                                       action="#{listCampaignsController.doEditDonationForm(campaign)}"/>
                    </p:column>
                </p:dataTable>
                <p:commandButton value="#{msg['listCampaigns.add_campaign']}" ajax="false"
                                 action="#{listCampaignsController.doAddCampaign}"/>
                <p:confirmDialog message="#{msg['listCampaigns.ask_delete_campaign']}"
                                 header="#{msg['listCampaigns.delete_campaign']}" severity="alert"
                                 widgetVar="confirmation">
                    <p:commandButton value="#{msg['listCampaigns.yes']}" oncomplete="confirmation.hide()" ajax="false"
                                     actionListener="#{listCampaignsController.commitDeleteCampaign}"/>
                    <p:commandButton value="#{msg['listCampaigns.no']}" onclick="confirmation.hide()"/>
                </p:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</h:body>
</html>